a.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

a.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-weight: bold;
}

/* Highlight active dropdown item */
.dropdown-item.active {
    background-color: #605994;
    /* same as navbar color */
    color: rgb(225, 138, 138);
    font-weight: bold;
}

#dropdownMenuButton {
    font-weight: 600;
}

/* Smooth hover effect on dropdown items */
.dropdown-item:hover {
    background-color: #7871b8;
    color: white;
}