ul {
    list-style-type: none;
    padding-left: 20px;
    border-left: 1px dashed #aaa;
    margin: 5px 0;
}

li {
    margin: 5px 0;
    padding-left: 10px;
    position: relative;
}

li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 10px;
    height: 1px;
    background: #aaa;
}