.custom-btn {
    background-color: #9462ea;
    /* Custom purple color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #8870be;
    /* Darker shade on hover */
    color: #fff;
}